@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,300,300italic|Roboto+Mono);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #48a2df;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.45;
}

@media all and (max-width: 1140px) {
  .bookmark {
    height: 0;
    visibility: hidden;
  }

  nav.sticky-nav-color {
    width: 100%;
  }

  .nav-inner-most {
    align-content: stretch;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .horizontal-ribbon {
    background-color: yellow;
    color: black;
    display: none;
    flex-grow: 1;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 13px;
    font-weight: 900;
    height: 75px;
    margin: 20px auto;
    padding-top: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 0;
    width: 15%;
  }

  .horizontal-ribbon:before {
    border-bottom: 38px solid yellow;
    border-left: 30px solid transparent;
    border-top: 37.5px solid yellow;
    content: '';
    height: 0;
    left: -30px;
    position: absolute;
    top: 0;
    width: 10px;
  }

  .horizontal-lmht {
    background-image: url(/img/lmht-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    flex-grow: 1;
    height: 2.5em;
    margin: 1rem;
    width: calc(50% - 2rem);
  }

  .sticky-nav-color .horizontal-ribbon, .sticky-nav-color .horizontal-lmht {
    display: block;
  }
}

@media all and (min-width: 1140px) {
  .bookmark {
    background-color: yellow;
    background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .5) 5px, hsla(0, 0%, 100%, 0) 25px);
    box-sizing: border-box;
    height: 6em;
    padding-top: 30px;
    position: fixed;
    right: 1%;
    top: 0;
    width: 4.4em;
    z-index: 20001;
  }

  .bookmark p {
    color: black;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 13px;
    font-weight: 900;
    padding: 5px;
    text-align: center;
  }

  .bookmark:before, .bookmark:after {
    content: '';
    position: absolute;
  }

  .bookmark:before {
    background-image: linear-gradient(-45deg, transparent 50%, yellow 51%), linear-gradient(45deg, transparent 50%, yellow 51%);
    bottom: -50%;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .bookmark img {
    width: 40px;
    margin-left: 20px;
  }

  .bookmark:hover {
    -webkit-filter: drop-shadow(0 2px 6px hsla(0, 0%, 0%, .75));
  }

  .sticky-nav-color .horizontal-ribbon, .sticky-nav-color .horizontal-lmht {
    display: none;
  }

  .horizontal-ribbon {
    display: none;
  }
}

.site-header {
  margin: 0 0 2rem 0;
  padding: 20px 0 0;
  color: white;
  background: #2980b9;
}

.site-title p {
  font-size: .85rem;
  color: #ddd;
}

#logo img {
  display: block;
  max-width: 450px;
  margin: 0 auto 20px;
}

.header-meta, .site-title {
  width: 100%;
  text-align: center;
}

.header-meta p {
  padding: 10px;
}

.header-meta p:nth-child(1) {
  background: rgba(0, 0, 0, .1);
}

.header-meta p:nth-child(2) {
  margin: 0;
  background: rgba(0, 0, 0, .2);
}

nav {
  z-index: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #48a2df;
}

nav.sticky-nav-color {
  background-color: #216794;
}

.nav-placeholder {
  margin: 0 0 10px 0;
}

.fixed .nav-inner {
  padding: 0 0;
}

@media all and (min-width: 1140px) {
  .fixed .nav-inner-most {
    display: block;
    margin-left: 28px;
    background: url('/img/lmht-logo.png') no-repeat;
    background-position: left;
    background-position: 10px 0;
    background-size: 200px 50px;
  }
}

select {
  width: 300px;
}

.custom-combobox::before {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 16px;
  margin-left: 18px;
  content: '';
  background: url('/img/search-icon.svg') no-repeat 0 0;
  background-size: 100%;
}

.custom-combobox {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  align-items: stretch;
  justify-content: space-between;
}

.custom-combobox-toggle, .custom-combobox-input {
  border: 0;
  box-shadow: inset 0 0 0 1px rgb(211, 211, 211);
}

.custom-combobox-toggle {
  top: inherit;
  width: 50px;
  margin: 0;
}

.custom-combobox-input {
  padding: 1em 4em 1em;
  flex-grow: 10;
}

.wrapper {
  width: 280px;
  margin: 50px auto;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
     -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
          box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

#main {
  margin-top: 50px;
}

.inside {
  max-width: 900px;
  margin: 0 auto;
}

.article, .site-footer {
  margin: 0 0 3rem 0;
  background: white;
}

.article-header {
  padding: 1rem;
}

.article-header audio {
  float: right;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

strong {
  font-weight: 700;
}

button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
}

button.play-button {
  width: 2em;
  height: 1.8em;
  margin-left: 3px;
  background: url('/button/play.png') no-repeat;
  background-size: 20px 20px;
}

button.play-button.pause {
  background: url('/button/pause.png') no-repeat;
  background-size: 20px 20px;
}

.definition-box code, .how-to-remember-box code {
  font-weight: bold;
  color: #333;
}

.how-to-remember, .definition, .how-to-contribute {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
          justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
}

.how-to-remember-box, .definition-box, .how-to-contribute-box {
  width: calc(50% - .5rem);
  padding: 1rem;
  border: 1px solid #ccc;
}

.how-to-remember-box h4, .definition-box h4, .how-to-contribute-box h4,
.site-footer h4 {
  font-weight: 700;
  margin: -1rem -1rem .5rem -1rem;
  padding: .5rem 1rem;
  color: white;
  background: #4872fb;
}

h4 {
  font-size: 1em;
  padding: 1em;
}

.code-example {
  font-family: 'Roboto-Mono', monaco, monospace;
  font-size: .8rem;
  padding: 1rem;
  white-space: pre-wrap;
  color: white;
  background: #2c3e50;
}

.code-example strong {
  color: yellow;
}

.site-footer {
  width: calc(100% - .5rem);
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  border: 0 solid #ccc;
}

.site-footer ul {
  padding: 10px;
  list-style-type: none;
}

.site-footer p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.45;
}

.ui-menu {
  z-index: 500;
}

.fixed-dropdown {
  position: fixed;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
