@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,300,300italic|Roboto+Mono);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.45;
  background: #48A2DF;
}

.searchlabel {
<<<<<<< HEAD
  text-align: center
}

#tag-a, #tag-body {
  max-width: 900px;
  margin: 0 auto;
  display: none;
=======
  text-align: center;
>>>>>>> 38903f9641a4dd65a0f14759365e60fa79b1965e
}

.droplist {
  width: 15%;
  margin: 0 auto 20px;
}

select {
  width: 100%;
}

h1, h2 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}
<<<<<<< HEAD

=======
h4 {
  font-size: 1em;
  padding: 1em;
}
>>>>>>> 38903f9641a4dd65a0f14759365e60fa79b1965e
strong {
  font-weight: 700;
}

.inside {
  max-width: 900px;
  margin: 0 auto;
}

.site-header {
  background: #2980b9;
  color: white;
  padding: 20px 0 0;
  margin: 0 0 2rem 0;
}
<<<<<<< HEAD

.site-header-inside {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.site-title p {
  font-size: 0.85rem;
  color: #ddd;
}

.header-meta,
.site-title {
<<<<<<< HEAD
  width: 300px;
}

img {
  display: block;
  text-align: center;
}

nav ul {
  list-style-type: none;
  align-items: center;
}

nav ul li {
  float: left;
  display: inline;
  font-size: 220%;
  margin-left: 0;
  margin-right: 0;
=======
  width: 100%;
  text-align: center;
}
#logo img {
  max-width: 700px;
  margin: 0 auto 20px;
  display: block;
>>>>>>> 38903f9641a4dd65a0f14759365e60fa79b1965e
}
.header-meta p {
  padding: 10px;
}
.header-meta p:nth-child(1) {
  background: rgba(0, 0, 0, 0.1);
}
.header-meta p:nth-child(2) {
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
}


.article {
  background: white;
  margin: 0 0 3rem 0;
}

.article-header {
  padding: 1rem;
}

.article-header audio {
  float: right;
}

<<<<<<< HEAD
.site-search {
  text-align: center;
  margin: 0 0 2rem 0;
  > * { /*affects the immediate children of the 'site-search' class*/
    vertical-align: middle;
  }
}
input[type=search] {
  border: 0;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.4rem;
}

=======
>>>>>>> 38903f9641a4dd65a0f14759365e60fa79b1965e
.how-to-remember, .definition {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.how-to-remember-box, .definition-box {
  border: 1px solid #ccc;
  padding: 1rem;
  width: calc(50% - 0.5rem);
}
.how-to-remember-box h4, .definition h4 {
  background: #4872fb;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 700;
  margin: -1rem -1rem 0.5rem -1rem;
}

.code-example {
  background: #2c3e50;
  color: white;
  padding: 1rem;
  font-family: "Roboto-Mono", monaco, monospace;
  font-size: 0.8rem;
}
.code-example strong {
  color: yellow;
}

.site-footer {
  text-align: center;
  margin: 2rem 0;
  color: white;
}
h4 {
  color: #ddd;
}

.site-footer a {
  color: #ddd;
  text-decoration: none;
}

.site-footer a:hover {
  color: #eee;
}
