html * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, li, p, a {
  font-family: Arial, Helvetica;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #34495e;
}
header {
  height: 25%;
  border-bottom: 2px solid black;
}
.subtitle {
  width: 45%;
  border: 1px solid black;
  position: absolute;
  top: 5%;
  left: 30%;
}
.searchlabel {
  margin-top: 2%;
}

h1 {
  font-size: 6em;
}
h3 {
  font-size: 2em;
  text-align: center;
}
h4 {
  font-size: 1.25em;
  text-align: center;
}
.spanish, .english {
  margin: 2%;
  border: .2em solid black;
  width: 46%;
}

.spanish {
  float: left;
}
.english {
  float: right;
}
.visual {
  text-align: center;
}

footer {
  margin: 2%;
}

/*-------------------------------------------------------------------------------------*/

li {
  margin: 15px;
}

#tag-a, #tag-body {
  display:none;
}

.droplist {
  width: 15%;
  margin: 0 auto;
}
select {
  width: 100%;
}

