@import url(http://fonts.googleapis.com/css?family=Roboto|Lato|Montserrat|Roboto+Mono);

html * {
  font-family: roboto, sans-serif;
}

body {
  background-color: #3498db;
}

header {
  background-color: #2980b9;
  color: white;
}

#logo, #org-name, #slogan {
  display: inline;
}

nav {
  /*width: 100%;*/
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
}

nav ul li {
  display: block;
  /*font-size: 220%;
  margin-left: 0;
  margin-right: 0;*/
}

a:link, a:visited {
    display: block;
    width: 150px;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

/*links within the nav*/
/*.link {
  color: white;
  text-align: center;
  margin-left: -.3%;
  margin-right: -.3%;
  padding-left: 3%;
  padding-right: 3%
}*/

#html-link {
  background-color: red;
}

#html-link:hover, #html-link:active {
  background-color: #f11;
}

#css-link {
  background-color: green;
}

#js-link {
  background-color: blue;
}

.search-bar {
  width: 30%;
  margin: 0 auto 5% auto;
  text-align: center;
}

.example-card {
  background-color: #34495e;
  /*border: 1px solid black;*/
  display: inline-block;
  padding: 0 40px 0 40px;
  width: 70%;
  height: 50%;
  font-family: Montserrat, sans-serif;
  color: white;
}

p {
  font-family: Verdana, sans-serif;
}

.blocks {
  display: inline;
  background-color: white;
}

#spanish, #english {
  display: inline;
  background-color: white;
}

blockquote {
  font-family: "Roboto Mono", monospace;
}

.code-block {
  align-self: center;
  background-color: #2c3e50;
  margin: 0 -2% 5% -2%;
  padding: 0 -15% 0 -15%;
}
